<table>
	<tr>
		<td class="team" [class.winner]="match.team1Score > match.team2Score">
			{{ match.team1!.name }}
		</td>
		<td class="score">
			<input
				type="text"
				name="team1Score"
				id=""
				value="{{ match.team1Score }}"
				(change)="update(team1ScoreInput.value, team2ScoreInput.value)"
				#team1ScoreInput
				[class.winner]="match.team1Score > match.team2Score"
			/>
		</td>
	</tr>
	<tr>
		<td class="team" [class.winner]="match.team1Score < match.team2Score">
			{{ match.team2!.name }}
		</td>
		<td class="score">
			<input
				type="text"
				name="team2Score"
				id=""
				value="{{ match.team2Score }}"
				(change)="update(team1ScoreInput.value, team2ScoreInput.value)"
				#team2ScoreInput
				[class.winner]="match.team1Score < match.team2Score"
			/>
		</td>
	</tr>
</table>
