table,
td {
	border-collapse: collapse;
	border: 1px solid #282828;
}

td {
	padding: 0.4em 0.6em;
}

.team {
	width: 260px;
}

.team-section {
	display: flex;
	align-items: center;
}

.team img {
	padding-right: 10px;
}

.score {
	background-color: #282828;
}

input {
	font-size: medium;
	width: 16px;
	color: white;
	background-color: #282828;
	border: none;
	text-align: center;
}

.winner {
	font-weight: 700;
}
