<table>
	<tr>
		<td
			class="team"
			[class.winner]="node.match.team1Score > node.match.team2Score"
		>
			{{ node.match.team1 }}
		</td>
		<td class="score">
			<input
				type="text"
				name="team1Score"
				id=""
				value="{{ node.match.team1Score }}"
				(change)="update(team1ScoreInput.value, team2ScoreInput.value)"
				#team1ScoreInput
				[class.winner]="node.match.team1Score > node.match.team2Score"
			/>
		</td>
	</tr>
	<tr>
		<td
			class="team"
			[class.winner]="node.match.team1Score < node.match.team2Score"
		>
			{{ node.match.team2 }}
		</td>
		<td class="score">
			<input
				type="text"
				name="team2Score"
				id=""
				value="{{ node.match.team2Score }}"
				(change)="update(team1ScoreInput.value, team2ScoreInput.value)"
				#team2ScoreInput
				[class.winner]="node.match.team1Score < node.match.team2Score"
			/>
		</td>
	</tr>
</table>
