<table>
	<tr>
		<td class="team" [class.winner]="match.team1Score > match.team2Score">
			@if (match.team1) {
			<div class="team-section" [attr.data-test-team]="match.team1!.name">
				<!-- TODO: fix logo height and width for all teams so it doesn't expand outside of cell -->
				<img width="20px" src="{{ match.team1!.logo }}" alt="" />
				{{ match.team1!.name }}
			</div>
			}
		</td>
		<td class="score">
			<input
				type="text"
				name="team1Score"
				id=""
				value="{{ match.team1Score }}"
				(change)="update(team1ScoreInput.value, team2ScoreInput.value)"
				#team1ScoreInput
				[class.winner]="match.team1Score > match.team2Score"
				[attr.data-input-name]="round"
			/>
		</td>
	</tr>
	<tr>
		<td class="team" [class.winner]="match.team1Score < match.team2Score">
			@if (match.team2) {
			<div class="team-section" [attr.data-test-team]="match.team2!.name">
				<img width="20px" src="{{ match.team2!.logo }}" alt="" />
				{{ match.team2!.name }}
			</div>
			}
		</td>
		<td class="score">
			<input
				type="text"
				name="team2Score"
				id=""
				value="{{ match.team2Score }}"
				(change)="update(team1ScoreInput.value, team2ScoreInput.value)"
				#team2ScoreInput
				[class.winner]="match.team1Score < match.team2Score"
				[attr.data-input-name]="round"
			/>
		</td>
	</tr>
</table>
