header {
	display: flex;
	justify-content: center;
	align-items: baseline;
	color: #e5e9f0;
	padding-top: 1em;
}

li {
	list-style-type: none;
	display: inline-block;
	margin: 0 0.5em;
}

a {
	text-decoration: none;
	color: #e5e9f0;
}
