<app-navbar></app-navbar>

<main>
	<section id="quarterfinals">
		<ng-container *ngFor="let match of quarterFinals">
			<app-match
				[team1]="match.team1"
				[team2]="match.team2"
				[team1Score]="match.team1Score"
				[team2Score]="match.team2Score"
				(winnerEvent)="updateSemiFinals($event)"
			></app-match>
		</ng-container>
	</section>
	<section>
		<ng-container *ngFor="let match of semiFinals">
			<app-match
				[team1]="match.team1"
				[team2]="match.team2"
				[team1Score]="match.team1Score"
				[team2Score]="match.team2Score"
				(winnerEvent)="updateGrandFinals($event)"
			></app-match>
		</ng-container>
	</section>
	<section>
		<ng-container *ngFor="let match of grandFinals">
			<app-match
				[team1]="match.team1"
				[team2]="match.team2"
				[team1Score]="match.team1Score"
				[team2Score]="match.team2Score"
			></app-match>
		</ng-container>
	</section>
</main>
