* {
	color: white;
	background-color: #121212;
}

article {
	display: grid;
	color: #e5e9f0;
	margin-top: 3em;
	padding-bottom: 2em;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	max-width: 1600px;
	margin: auto;
	gap: 1em;
	background-color: #121212;
}

section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 1em;
}

br {
	margin: 1em 0;
}
