<article>
	<section>
		@for (match of round1; track match.team1) {
		<app-match
			[match]="match"
			[round]="'round1'"
			(scoreUpdate)="updateRound2($event)"
		></app-match>
		}
	</section>
	<section>
		@for (match of round2upper; track match.team1) {
		<app-match [match]="match" (scoreUpdate)="updateRound3($event)"></app-match>
		}
		<br />
		@for (match of round2lower; track match.team1) {
		<app-match [match]="match" (scoreUpdate)="updateRound3($event)"></app-match>
		}
	</section>
	<section>
		@for (match of round3upper; track match.team1) {
		<app-match [match]="match" (scoreUpdate)="updateRound4($event)"></app-match>
		}
		<br />
		@for (match of round3middle; track match.team1) {
		<app-match [match]="match" (scoreUpdate)="updateRound4($event)"></app-match>
		}
		<br />
		@for (match of round3lower; track match.team1) {
		<app-match [match]="match" (scoreUpdate)="updateRound4($event)"></app-match>
		}
	</section>
	<section>
		@for (match of round4upper; track match.team1) {
		<app-match [match]="match" (scoreUpdate)="updateRound5($event)"></app-match>
		}
		<br />
		@for (match of round4lower; track match.team1) {
		<app-match [match]="match" (scoreUpdate)="updateRound5($event)"></app-match>
		}
		<br />
	</section>
	<section>
		@for (match of round5; track match.team1) {
		<app-match [match]="match" (scoreUpdate)="collectFromRound5($event)"></app-match>
		}
	</section>
</article>
<!-- 
<app-single-elimination-bracket
	[teams]="qualified"
></app-single-elimination-bracket> -->
